body {
  overflow: hidden;
}

.configurator h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.configurator p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.configurator .text-muted {
  color: #6c757d !important;
}

.configurator .option-set {
  margin-top: 3rem !important;
  margin-bottom: 3.5rem;
}

.configurator .option-set-header {
  margin-bottom: 1rem !important;
}

.configurator input[type="radio"] {
  display: none;
}

.configurator label {
  padding: 5px;
  cursor: pointer;

  -webkit-appearance: button;
  /* WebKit */
  -moz-appearance: button;
  /* Mozilla */
  -o-appearance: button;
  /* Opera */
  -ms-appearance: button;
  /* Internet Explorer */
  appearance: button;
  /* CSS3 */

  width: 8rem;
  height: 4.2rem;
  opacity: 0.8;
  border: 2px solid #b1b1b1;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  font-size: 0.9rem;
  justify-content: center;
}

.configurator label.btn-outline-secondary:hover {
  color: #fff;
  background-color: #282728;
  border-color: #282728;
}

.mh-100-vh {
  max-height: 100vh;
}

.font-1-5 {
  font-size: 1.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.configurator .btn-radio:checked + .btn-outline-secondary {
  opacity: 1;
  background-color: transparent;
  color: #303030;
  outline: 0;
  box-shadow: none;
  font-weight: 600;
  border-color: #303030;
}

.configurator label:hover {
  background: #ddd;
}

.configurator-viewer {
  position: relative;
  display: inline-block;
}

.configurator-viewer .layer {
  position: absolute;
  top: 0;
  left: 0;
}

img {
  width: 100%;
  height: auto;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

.open-form,
.open-form:focus {
    margin-top: 10px;
    cursor: pointer;
    color: white!important;
    padding: 10px 25px!important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15)!important;
    border: 2px solid black!important;
    background-color: black!important;
    text-transform: uppercase;
    font-size: 1rem;
    transition: .3s;
}

.open-form:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35)!important;
}

.form-popup {
    /* display: none; */
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    transition: .5s;
}

.form-popup .form-wrapper {
    max-width: 700px;
    background: white;
    padding: 50px;
    position: absolute;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    z-index: 0!important;
    outline-offset: -15px!important;
    outline: 3px solid #0f0f0f!important;
    outline-style: double!important;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.send-form {
    cursor: pointer;
    padding: 11px 32px!important;
    border: 3px solid #0f0f0f!important;
    background-color: transparent!important;
    color: rgba(15,15,15,1)!important;
    border: 2px solid #83b566;
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: .3s;
    margin-top: 8px;
    font-weight: 800!important;
    float: right;
}

.send-form:hover {
  background-color: rgba(15,15,15,1)!important;
  color: white!important;
}

.close-form {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-size: 9px;
  right: 15px;
  top: 15px;
  letter-spacing: 1.5px;
  line-height: 40px;
  outline: none;
  overflow: hidden;
  padding: 5px 0;
  position: absolute;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  width: 50px;
  z-index: 999;
}

.close-form::before,
.close-form::after {
  background-color: black;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center center;
  transition: all 0.2s ease-in;
  width: 50px;
  z-index: -1;
}

.close-form::before {
  top: 0;
  transform: rotate(45deg);
}

.close-form::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.close-form:hover {
  color: white;
}

.close-form:hover::before,
.close-form:hover::after {
  height: 50px;
  transform: rotate(0deg);
}


